---
- name: Fix CentOS Stream 8 repositories
  hosts: all
  become: true
  become_user: root
  tasks:
    - name: Backup original repos
      command: cp -r /etc/yum.repos.d /etc/yum.repos.d.backup

    - name: Disable all current repos
      command: dnf config-manager --disable "*"

    - name: Create vault CentOS repository
      copy:
        dest: /etc/yum.repos.d/vault-centos.repo
        content: |
          [vault-baseos]
          name=CentOS Stream 8 - BaseOS
          baseurl=https://vault.centos.org/centos/8-stream/BaseOS/$basearch/os/
          gpgcheck=1
          enabled=1
          gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-centosofficial

          [vault-appstream]
          name=CentOS Stream 8 - AppStream
          baseurl=https://vault.centos.org/centos/8-stream/AppStream/$basearch/os/
          gpgcheck=1
          enabled=1
          gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-centosofficial

          [vault-extras]
          name=CentOS Stream 8 - Extras
          baseurl=https://vault.centos.org/centos/8-stream/extras/$basearch/os/
          gpgcheck=1
          enabled=1
          gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-centosofficial

    - name: Install epel repository
      dnf:
        name: epel-release
        state: present

    - name: Clean dnf cache
      command: dnf clean all

    - name: Test repository access
      command: dnf makecache
