---
- name: Disable IPv6 to fix apt issues
  hosts: all
  become: yes
  tasks:
    - name: Disable IPv6 in grub
      lineinfile:
        path: /etc/default/grub
        regexp: '^GRUB_CMDLINE_LINUX='
        line: 'GRUB_CMDLINE_LINUX="ipv6.disable=1"'
        backup: yes

    - name: Disable IPv6 in sysctl
      lineinfile:
        path: /etc/sysctl.conf
        line: 'net.ipv6.conf.all.disable_ipv6 = 1'
        create: yes

    - name: Disable IPv6 for default interfaces
      lineinfile:
        path: /etc/sysctl.conf
        line: 'net.ipv6.conf.default.disable_ipv6 = 1'
        create: yes

    - name: Disable IPv6 for lo interface
      lineinfile:
        path: /etc/sysctl.conf
        line: 'net.ipv6.conf.lo.disable_ipv6 = 1'
        create: yes

    - name: Apply sysctl settings
      shell: sysctl -p

    - name: Update grub
      shell: update-grub

    - name: Disable IPv6 immediately
      shell: |
        echo 'net.ipv6.conf.all.disable_ipv6 = 1' >> /etc/sysctl.conf
        echo 'net.ipv6.conf.default.disable_ipv6 = 1' >> /etc/sysctl.conf
        echo 'net.ipv6.conf.lo.disable_ipv6 = 1' >> /etc/sysctl.conf
        sysctl -p

    - name: Configure apt to use IPv4 only
      copy:
        content: 'Acquire::ForceIPv4 "true";'
        dest: /etc/apt/apt.conf.d/99force-ipv4

    - name: Stop systemd-resolved and use direct DNS
      systemd:
        name: systemd-resolved
        state: stopped
      ignore_errors: yes

    - name: Set direct DNS resolvers
      copy:
        content: |
          nameserver 8.8.8.8
          nameserver 1.1.1.1
          nameserver 77.88.8.8
        dest: /etc/resolv.conf

    - name: Remove systemd-resolved stub
      file:
        path: /etc/resolv.conf
        state: absent
      ignore_errors: yes

    - name: Create direct resolv.conf
      copy:
        content: |
          nameserver 8.8.8.8
          nameserver 1.1.1.1
          nameserver 77.88.8.8
        dest: /etc/resolv.conf

    - name: Configure apt to use IPv4 only
      copy:
        content: 'Acquire::ForceIPv4 "true";'
        dest: /etc/apt/apt.conf.d/99force-ipv4

    - name: Clean apt cache
      shell: |
        rm -rf /var/lib/apt/lists/*
        apt clean

    - name: Update ubuntu mirrors to use yandex mirrors
      replace:
        path: /etc/apt/sources.list
        regexp: 'archive.ubuntu.com'
        replace: 'mirror.yandex.ru'

    - name: Add yandex mirror if not present
      lineinfile:
        path: /etc/apt/sources.list
        line: 'deb http://mirror.yandex.ru/ubuntu/ focal main restricted universe multiverse'
        state: present
      when: "'mirror.yandex.ru' not in sources_content"
      vars:
        sources_content: "{{ lookup('file', '/etc/apt/sources.list') }}"

    - name: Test network connectivity
      shell: |
        ping -c 2 mirror.yandex.ru
        curl -I http://mirror.yandex.ru/ubuntu/

    - name: Update apt cache (with retry)
      apt:
        update_cache: yes
        cache_valid_time: 3600
      register: apt_update
      until: apt_update is succeeded
      retries: 3
      delay: 10
      ignore_errors: yes

    - name: Install basic packages
      apt:
        name:
          - curl
          - wget
          - apt-transport-https
          - ca-certificates
          - gnupg
        state: present
      ignore_errors: yes
