---
- name: Check if /etc/fstab exists
  ansible.builtin.stat:
    path: "/etc/fstab"
    get_attributes: no
    get_checksum: no
    get_mime: no
  register: fstab_file

- name: Remove swapfile from /etc/fstab
  ansible.posix.mount:
    name: "{{ item }}"
    fstype: swap
    state: absent
  loop:
    - swap
    - none
  when: fstab_file.stat.exists

- name: Mask swap.target (persist swapoff)
  ansible.builtin.systemd:
    name: swap.target
    masked: true

- name: Disable swap
  ansible.builtin.command: /sbin/swapoff -a
